*{
   transition: 0s;
}
.box{
    display: inline-block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border: 2px solid #EB9456;
     border-radius: 12px;
     box-shadow: 24px;
     padding: 40px;
     background-color: #fafafa;
     width: 25%;
   min-width: 350px;
   
   
 }
 
 
 form  h1 i{
     font-size: 30px;
     color: #EB9456;
    
     
  }
 
  .heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
 
 .heading img{
    width: 48px;
    height: 48px;
 }
 
 /* .heading img:hover{
    transform: scale(1.1);
    transition: 0.2s;
 } */
 
 
  .underline{
     border:1px solid #EB9456;
     width: 100%;
     margin: 1em 0;
  }
 
 
 .form{
     display: flex;
     flex-direction: column;
     /* gap: 2em; */
     margin: 0;
     padding: 0;
     gap: 2em;
  }

  .avatar-container{
   display: flex;
   flex-direction: row;
   margin-top: 1em;
  }
 
  .input {
     
     margin: 1em 0 1em 0 ;
    
  }
 
  .textfield{
     width: 100%;
    
     
  }
  .button{
     margin: 1em 0 1em auto;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 20px;
     flex-wrap: wrap;
     width: 50%;
 
  }
 
 .button button{
     flex: 1;
     height: 50px;
 }
 
 
 .button span:hover i{
     color: #EB9456;
     text-decoration: underline;
 }

 .avatar{
   position: relative;
    width: 74px;
    height: 74px;
    border-radius: 25%;
    overflow: hidden;
    margin-right: 16px;
    
 }

 .cover{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 6px;
}

.avatar-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap:0.5em;
   justify-content: center;
 
}

.content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1em;
}

.form > .avatar-container > .avatar{
   transition: 0s;
}

.avatar-selected{
   border:5px solid #EB9456;
   position: relative;
   width: 74px;
   height: 74px;
   border-radius: 25%;
   overflow: hidden;
   margin-right: 16px;
  
}