
 .form{
     display: flex;
     flex-direction: column;
     /* gap: 2em; */
     margin: 0;
     padding: 0;
     gap: 1.2em;
  }

  .avatar-container{
   display: flex;
   flex-direction: row;
   margin-top: .7em;
  }
 
  .input {
     margin: .7em 0 .7em 0 ;
  }
 
  .textfield{
     width: 100%;

  }
  .button{
     margin: .7em 0 .7em auto;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 12px;
     flex-wrap: wrap;
     width: 50%;
 
  }
 
 .button button{
     flex: 1;
     height: 30px;
 }
 
 
 .button span:hover i{
     color: #EB9456;
     text-decoration: underline;
 }

 .avatar{
   position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    overflow: hidden;
    margin-right: 12px;
    
 }

 .cover{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 6px;
}

.avatar-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap:0.5em;
   justify-content: center;
 
}

.content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: .7em;
}

.form > .avatar-container > .avatar{
   transition: 0s;
}

.avatar-selected{
   border:3px solid #EB9456;
   position: relative;
   width: 50px;
   height: 50px;
   border-radius: 25%;
   overflow: hidden;
   margin-right: 16px;
  
}
