.container{
  padding: 16pt;
}

.container h1{
    color: transparent;
    background-image: linear-gradient(to right, #355070,#6d597a,#b56576,#e56b6f,#e88c7d,#eaac8b) ; 
    background-clip: text;
}

.container p{
    font-size: 16pt;
   line-height: 24pt;
   padding-top: 16pt;
}

.container p  span{
    font-size: 18pt;
    font-weight: 700;
}

.container b{
    font-size: 20pt;
}