*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    transition: 0s;
    /* font-size: 16px; */
}



.body{
    display: flex;
    flex-direction: row;
   margin: 0;
  
}

.nav{
   flex: 20%;
   flex-grow: 1;
  
}

.main{
    flex: 80%;
    flex-grow: 5;
   
    height: 100vh;
    overflow-y: auto;
    
}


.delete-modal{
  /* width: fit-content; */
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50;
 transform: translate(-50%, -50%);
  padding: .7em;
  border-radius: 12px;
}



.card-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
}


.card{
    position:relative;
    width: 720px;
   max-width: 50%;
   
    /* min-height: 960px; */
    height: calc(100%-1em);
    background: #fafafa;
    /* box-shadow: 0px 15px 60px rgba(53, 34, 34, 0.15); */
    border-right: 1px solid #355070;
    padding: 12px;
    /* margin-left: 5rem; */
    /* border-radius: 8px; */
    /* margin:  1em 1em 4em 6em ; */
    margin:.7em 0 .7em .7em;

    overflow: scroll;
}

.card {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .card::-webkit-scrollbar {
    display: none;
  }

  .card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.image-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 6px;
}




/* .dot{
    cursor: pointer;
    position: relative;
} */
.menu{
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}



.single-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.single-comment button{
    height: 1.5em;
    width:1.5em;
    border: none;
    background: transparent;
    color: #DB5F58;
    margin-right: 1em;
    cursor: pointer;
}




.comment{
    width: 50%;
    height: calc(100%-1em);
    /* box-shadow: 0px 15px 60px rgba(0,0,0,0.15); */
    padding: 12px;
    padding-top: 20px;
    border-radius: 8px;
    margin: .7em .7em .7em 0;
    font-size: 10pt;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.comment::-webkit-scrollbar {
    display: none;
  }

  .comment {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.comments{
    display: flex;
    flex-direction: column;
    max-width: 100%;
  
    /* flex-grow: 2; */
    height: 70%;
    overflow-y: scroll;
 
}

.comments::-webkit-scrollbar {
    display: none;
  }

  .comments {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }



.comment-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.form{
    max-height: 30%;
    border-top: 1.5px solid #355070;
   
    margin: 0;
    /* flex-grow: 1; */
    
}



.backicon{
    margin: 1em;
    cursor: pointer;
}

.backicon:hover >  :is(img) {
    scale: 1.05;
    transition: 0.2s;
   }

   .avatar{
    position: relative;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    border: 3px solid #355070;
    background-color: #355070;
}

.edit-description{
    width: 100%;
    height: fit-content;
    resize: none;
    margin-top: 5px;
}

.editMode-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.close{
  position:absolute;
  right: 0;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 3px;
 cursor: pointer;
}

.close img{
  width: 15px;
  height: 15px;
  cursor: pointer;
}




.edit-custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#ef8453);
    mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }

  .custom-loader {
    width:200px;
    height:200px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#ef8453);
    mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
    position: relative;
    right: 25%;
  }

  .loading-wrapper{
   
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
    left: 50%;
    margin: 1em 50%;
    
   }

   .loading-wrapper p{
    font-size: 15pt;
    color: #355070;
   }

   .loading-wrapper p::after{
    display: inline-block;
    content: '';
    animation: dot steps(1,end) 1.5s infinite
   }

   @keyframes dot {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

   @keyframes s3 {to{transform: rotate(1turn)}}


   .loadingFailed{
 
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
  }
  
  .loadingFailed img{
    height: 70px;
    width: 70px;
  }



  .login-comment{
    margin-top: 12px;
  }

  .login-comment i{
    color:#355070;
    cursor:pointer;
    font-size:12pt;
  }

  .login-comment i:hover{
    text-decoration: underline;
  }
  
.comment-button{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

@media(width>1500px){
  .loading-wrapper  {
    
    position: absolute;
    top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
}
  

@media (width < 800px) {
    *{
        margin: 0;
        padding: 0;
        border: none;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        /* gap: 1em; */
        max-height: 80vh;
      
    }



    .card{
      -ms-overflow-style:initial;
      overflow: scroll;
      scrollbar-width: 20px;
    }

    .card::-webkit-scrollbar{
      display:block;
    }

    .comment{
       height: 50%;
        /* height: fit-content; */
        width: 720px;
        box-shadow: 15px 15px 60px rgba(0,0,0,0.15);
        padding: 20px;
      
        border-radius: 8px;

    }
    .nav{
        height: 100vh;
    }

    .card{
       max-width: 100%;
       margin: 0;
      height: 50%;
    }
    .comment{
        max-width: 100%;
        margin: 0;
    }

       .custom-loader{
      width: 100px;
      height:100px;
      margin: 0;
      padding: 0;
     }
     .loading-wrapper{
      height: 200px;
      width: 200px;
      margin: 0;
      top: 25%;
      left: 25%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* left: 25%; */
     }

     .loading-wrapper p{
      font-size: 1em;
      color: #355070;
     }
 
}

@media (width < 1600px) {
  .custom-loader{
    width: 100px;
    height: 100px;
  
    
   }
   .loading-wrapper{
    margin: 0;
    top: 25%;
    left: 0;
    /* left: 25%; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* left: 25%; */
   }
}


