
  .profile{
    display: flex;
    flex-direction: column;
    /* gap: 2em; */
    margin: 0;
    padding: 0;
   
    align-items: center;
    justify-content: center;
 }

 .profile p{
    font-size: 12pt;
    color:#355070;
    margin-bottom: 12pt;
 }

 
