.description{
    font-weight: 400;
    margin-top: 5px;
    overflow: hidden;
    font-size: 10pt;
}

.edit-description{
    width: 100%;
    height: 60px;
    padding: 0 .6em ;
    resize: none;
    margin-top: 5px;
    font-size: 10pt;
    font-weight: 400;
   border-radius: 6px;
}

.edit-buttons{
   float: right;
  
}

.edit-buttons button{
    background-color: transparent;
    border: none;
    font-size: 10pt;
    margin: 3px .7em;
   width: 60px;
    border-radius: 6px;
    height: 30px;
    cursor: pointer;
}