.buttons{
    align-self: center;
    
}

.button{
    background-color: transparent;
    border: none;
    font-size: 1.25em;
    margin: 0 12px;
    cursor: pointer;
}

.follow-button{
    background-color: #355070;
    color: #fafafa;
    border: none;
    font-size: 1.25em;
    margin: 0 12px;
    cursor: pointer;
    border-radius: 24px;
    padding: 5px 10px;
}

.followed-button{
    background-color: transparent;
    color: #355070;
    border: 1px solid #355070;
    font-size: 1.25em;
    margin: 0 12px;
    cursor: pointer;
    border-radius: 24px;
    padding: 5px 10px;
}