.buttons{
    align-self: center;
    
}

.button{
    background-color: transparent;
    border: none;
    font-size: 10pt;
    margin: 0 6px;
    cursor: pointer;
}

.follow-button{
    background-color: #355070;
    color: #fafafa;
    border: none;
    font-size: 10pt;
    margin: 0 6px;
    cursor: pointer;
    border-radius: 16px;
    padding: 3px 6px;
}

.followed-button{
    background-color: transparent;
    color: #355070;
    border: 1px solid #355070;
    font-size: 10pt;
    margin: 0 6px;
    cursor: pointer;
    border-radius: 16px;
    padding: 3px 6px;
}