.single-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.single-comment span{
 
        display: inline-block;
        max-width: 300px;
       height: fit-content;
   
 word-wrap: break-word;
 
      
      
}


.comment-avatar{
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
   
}

.comment-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.comment-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}