.modal-button{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: .7em;
  }

  .loader{
    padding: 12px 0;
    padding-left: 25%;
    
  }

.form span{
  font-size: 8pt;
}

.form h1{
  font-size: 15pt;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}