
.background{
    width: 100vw;
    min-width: 350px;
    height: 100vh;
    /* background: rgb(53, 80, 112,0.8); */
    /* background: linear-gradient(35deg, rgba(229,181,93,1) 20%, rgba(239,132,83,1) 100%); */
    /* background-image: linear-gradient(35deg, #355070,#6d597a,#b56576,#e56b6f,#e88c7d,#eaac8b); */
    /* background-color: #ffebcd; */
    /* background: hsla(213, 36%, 32%, 1); */

/* background: linear-gradient(45deg, hsla(213, 36%, 32%, 1) 15%, hsla(36, 100%, 90%, 1) 83%);

background: -moz-linear-gradient(45deg, hsla(213, 36%, 32%, 1) 15%, hsla(36, 100%, 90%, 1) 83%);

background: -webkit-linear-gradient(45deg, hsla(213, 36%, 32%, 1) 15%, hsla(36, 100%, 90%, 1) 83%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#355070", endColorstr="#FFEBCD", GradientType=1 ); */
    transition: 0s;

    /* background-image: linear-gradient(to right top, #e88c7d, #e9927f, #e99881, #ea9e83, #eaa486, #ecac8c, #edb492, #efbc99, #f3c8a5, #f6d4b1, #fae0bf, #ffebcd); */
    background-color: #ffebcd;
}
.box{
    display: inline-block;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border: 2px solid #EB9456;
     border-radius: 12px;
     box-shadow: 24px;
     padding: 40px;
     background-color: #fafafa;
     width: 25%;
   min-width: 350px;
   
 }



form  h1 i{
    font-size: 30px;
    color: #EB9456;
    
    
 }

 .heading{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}



 .underline{
    border:1px solid #EB9456;
    width: 100%;
    margin: 1em 0;
 }

 .form{
    display: flex;
    flex-direction: column;
    /* gap: 2em; */
    margin: 0;
    padding: 0;
 }

 .input {
    
    margin: 1em 0 1em 0 ;
   
 }

 .textfield{
    width: 100%;
   
    
 }
 .button{
    margin: 1em 0 1em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 50%;
   

 }

.button button{
    flex: 1;
    height: 50px;
}


.button span:hover i{
    color: #EB9456;
    
    text-decoration: underline;
}


.text{
  cursor: pointer;
  margin: 10px 0;
  font-size: 1.25em;
  text-decoration: none;
}
.text:hover p, .text:hover i{
  color: #EB9456;
  text-decoration: underline;
}

.checkbox{
   margin: 1em 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-items: center;
   gap: 1em;
   font-size: 1.25em;
}
